
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row m-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                EJEMPLO CRUD DATATABLE JQUERY
            </div>
            <div class="card-body">
                <table class="display responsive nowrap" id="myTable" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Correo</th>
                            <th></th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>

    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">

                
                    <input type="hidden" id="txtIdPersona" />
                    <div class="form-group">
                        <label for="txtNombre">Nombre:</label>
                        <input type="text" class="form-control" id="txtNombre">
                    </div>
                    <div class="form-group">
                        <label for="txtApellidos">Apellido:</label>
                        <input type="text" class="form-control" id="txtApellidos">
                    </div>
                    <div class="form-group">
                        <label for="txtCorreo">Correo:</label>
                        <input type="text" class="form-control" id="txtCorreo">
                    </div>
                

                </div>
                    </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        var tabla_persona;
         $(document).ready( function () {
             tabla_persona = $('#myTable').DataTable({
                "ajax": {
                    "url": "@Url.Action("Listar", "Persona")",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Nombre" },
                    { "data": "Apellidos" },
                    { "data": "Correo" },
                    { "data": "IdPersona", "render": function (data) {
                            return "<button class='btn btn-primary btn-sm' type='button' onclick='abrirModal(" + data + ")'><i class='fas fa-pen'></i></button>" +
                                "<button class='btn btn-danger btn-sm ml-2' type='button' onclick='Eliminar(" + data + ")'><i class='fa fa-trash'></i></button>"
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "150px"
                    }
                ],
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: 'Agregar Nuevo',
                        attr: { class: 'btn btn-success btn-sm' },
                        action: function (e, dt, node, config) {
                            abrirModal(0)
                        }
                    }
                 ],
                 "language": {
                     "url": "@Url.Content("~/Content/datatable/idioma/datatable.es-ES.json")"
                 }

            });
        });


        function abrirModal($idpersona) {

            $("#txtIdPersona").val($idpersona);
            if ($idpersona != 0) {

                jQuery.ajax({
                    url: "@Url.Action("Obtener","Persona")" + "?idpersona=" + $idpersona,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        if (data != null) {

                            $("#txtNombre").val(data.Nombre);
                            $("#txtApellidos").val(data.Apellidos);
                            $("#txtCorreo").val(data.Correo);
                        }

                    }
                });
            } else {
                $("#txtNombre").val("");
                $("#txtApellidos").val("");
                $("#txtCorreo").val("");
            }

            $('#FormModal').modal('show');

        }

        function Guardar() {
            var $data = {
                oPersona: {
                    IdPersona: parseInt($("#txtIdPersona").val()),
                    Nombre: $("#txtNombre").val(),
                    Apellidos: $("#txtApellidos").val(),
                    Correo: $("#txtCorreo").val(),
                }
            }

            jQuery.ajax({
                url: "@Url.Action("Guardar", "Persona")",
                type: "POST",
                data: JSON.stringify($data),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.resultado) {
                        tabla_persona.ajax.reload();
                        $('#FormModal').modal('hide');
                    } else {
                        alert("No se pudo guardar los cambios");
                    }
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {

                }
            });

        }

        function Eliminar($idpersona) {
            if (confirm("¿Realmente desea eliminar?")) {

                jQuery.ajax({
                    url: "@Url.Action("Eliminar", "Persona")" + "?idpersona=" + $idpersona,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        if (data.resultado) {
                            tabla_persona.ajax.reload();
                        }
                    }
                });


            }
        }

    </script>



}



